MOISES_TOKEN=""
MOISES_METADATA_WORKFLOW="epsrc-ai-pipeline"
MOISES_CHORD_WORKFLOW="epsrc-chord-pipeline"
MOISES_LYRICS_WORKFLOW="epsrc-lyrics-pipeline"

OPENAI_API_KEY=""

DEVELOPMENT_ENV="true/false"

GCP_TYPE="service_account"
GCP_PROJECT_ID=""
GCP_PRIVATE_KEY_ID=""
GCP_PRIVATE_KEY=""
GCP_CLIENT_EMAIL=""
GCP_CLIENT_ID=""
GCP_AUTH_URI="https://accounts.google.com/o/oauth2/auth"
GCP_TOKEN_URI="https://oauth2.googleapis.com/token"