{% extends 'layout.html' %}

{% block body %}
    {{ vite_tags() }}

    <div class="jumbotron">
        <h1 class="display-4">{{ app_data["project_name"] }} </h1>
        <hr class="my-4">

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.file.label }}<br>
            {{ form.file }}<br>
            {% for error in form.file.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
            {{ form.submit }}
        </form>

    </div>

    <div id="waveform"></div>

{% if audio_url %}
    <script>
        createWave({{ audio_url|tojson }});
    </script>
{% endif %}

{% endblock %}
