@import "./theme.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropzone-brand-logos {
    @apply max-w-[228px] h-auto opacity-40 mb-8 mt-0;
}

.dropzone-label {
    @apply flex flex-col items-center justify-center w-72 md:w-96 h-48 bg-gray-100 border-2 border-dashed border-gray-400 rounded-lg cursor-pointer transition-colors duration-200;
}

.dropzone-label.dragover {
    @apply bg-gray-200;
}

.dropzone-label:hover {
    @apply bg-gray-200;
}

.dropzone-content {
    @apply flex flex-col items-center justify-center text-center pt-5 pb-6;
}

.dropzone-icon {
    @apply w-16 h-16 mb-4 text-gray-600;
}

.dropzone-text-main {
    @apply mb-2 text-2xl font-display text-center;
}

.dropzone-text-sub {
    @apply text-base font-accent text-gray-500 text-center;
}

.hidden-input {
    @apply hidden;
}

.dropzone-header-sub {
    @apply text-5xl font-accent  text-gray-500
}

.dropzone-links {
    @apply absolute bottom-6 justify-center
}

.dropzone-links-text {
    @apply text-gray-500 hover:underline font-display mx-10 text-lg
}

.dropzone-header-main {
    @apply text-9xl font-display relative;
}

.dropzone-header-main::after,
.dropzone-header-main::before {
    @apply w-[100%] h-[2px] left-0 absolute;
    content: '';
    background: linear-gradient(to right, #ff6b6b, #6bffb3);
    transform: scaleX(0);
    transition: transform 0.6s ease-out;
}

.dropzone-header-main::before {
    @apply -top-[5px] origin-left;
}

.dropzone-header-main::after {
    @apply -bottom-[5px] origin-right;
}

.dropzone-header-main:hover::after,
.dropzone-header-main:hover::before {
    transform: scaleX(1);
}

.wave-container {
    @apply absolute bottom-0 left-0 w-[100%] h-[14rem] overflow-hidden;
}

.wave-svg {
    @apply w-[100%] h-[100%] block
}


.waveform-container {
    @apply flex justify-center items-center relative h-14 w-full mt-96 ml-80;
}

.waveform-time {
    @apply text-xl font-accent text-white absolute z-10 top-[25%] left-[97.5%] pointer-events-none bg-black bg-opacity-50;
}

.explorer-sidebar-container {
    @apply w-80 h-screen shadow-lg flex flex-col justify-between z-50;
}

.translate-x-0 {
    transform: translateX(0) !important;
}

.-translate-x-full {
    transform: translateX(-100%) !important;
}

.explorer-sidebar-header {
    @apply text-3xl font-display
}

.explorer-sidebar-labels {
    @apply flex font-accent items-center gap-4 text-xl
}

.explorer-sidebar-parent-label {
    @apply flex font-accent items-center gap-4 text-xl
}

.explorer-sidebar-icon {
    @apply w-5 h-5 size-6 mx-3
}

.explorer-viewas-button {
    @apply fixed bottom-6 right-6 px-4 py-3 rounded-lg bg-gray-200 border-2 border-gray-300 hover:bg-gray-300 shadow-lg z-50
}

.explorer-viewas-option {
    @apply px-3 py-2 rounded hover:bg-gray-100 text-sm block
}

.explorer-spectoptions-label {
    @apply text-base font-accent text-black text-center z-30 cursor-pointer;
}

.explorer-gridline-major {
    @apply z-50 bg-gray-600 absolute w-[2px] top-[217px] h-[20px];
}

.explorer-gridline-major-vertical {
    @apply z-50 bg-gray-600 absolute left-[-0.5em] w-[20px] h-[2px];
}

.explorer-gridline-minor-vertical {
    @apply z-50 bg-gray-800 absolute left-0 w-[5px] h-[1px];
}

.explorer-gridline-vertical-text {
    @apply z-50 absolute font-accent text-white text-center flex justify-center items-center font-[16px] w-[2em] h-[24px] left-[0.5em] pointer-events-none;
}

.explorer-gridline-minor {
    @apply z-50 bg-gray-800 absolute w-[1px] top-[217px] h-[5px];
}

.explorer-gridline-text {
    @apply z-50 absolute font-accent text-lg top-[217px] inline-block;
}

.explorer-axislabel {
    @apply absolute font-display text-xl flex justify-center z-50;
}

.alert-danger {
    @apply border-l-[5px] border-l-[#b30000] bg-[#ffe6e6] text-[#660000] font-accent;
}

.explorer-play-pause-container {
    @apply flex flex-row items-center justify-between absolute top-4 right-36 w-36 px-2 h-9 z-10 bg-gray-200 border-2 border-gray-300 rounded-lg shadow-lg;
}

.explorer-plugin-pill {
    @apply inline-flex flex-nowrap items-center bg-white border border-gray-200 pl-3 rounded-full p-1.5 pe-3
}

.explorer-plugin-pill-text {
    @apply whitespace-nowrap text-lg font-display pl-2 text-gray-800 cursor-pointer
}

.explorer-plugin-pill-close {
    @apply font-accent text-lg p-0 ml-[4px] cursor-pointer bg-transparent border-none
}

.explorer-sidebar-dropdown {
    @apply ml-10 flex flex-col gap-2 text-lg font-accent opacity-0 max-h-0 overflow-hidden transition-all duration-200;
}

.explorer-sidebar-dropdown.open {
    @apply opacity-100 max-h-32;
}

.info-popup {
    @apply flex flex-col fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-white p-5 w-[1000px] min-h-[100px] text-left rounded-lg shadow-lg z-[1000];
}

.info-popup h2 {
    @apply mb-[15px] font-display text-2xl text-center
}

.info-popup p {
    @apply font-accent p-0 text-lg;
    line-height: 1;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

.plugins-container {
    @apply inline-flex flex-wrap gap-2 absolute left-[325px] top-[15px] right-[320px];
}

.info-popup button {
    @apply font-accent text-lg p-0 ml-[4px] cursor-pointer bg-transparent border-none absolute right-10 top-5
}

.popup-spinner {
    @apply w-[120px] h-[120px] justify-center items-center m-auto border-t-gray-500 border-solid border-t-[16px] border-gray-200 border-[16px] rounded-full animate-spin;
}

.blurred {
    @apply blur-lg pointer-events-none
}

.text-gradient-lines {
    @apply font-display z-30 cursor-pointer;
}

.text-gradient-lines::before,
.text-gradient-lines::after {
    content: '';
    @apply absolute left-0 w-full;
    height: 0.12em;
    background: linear-gradient(to right, #ff6b6b, #6bffb3);
    transform: scaleX(0);
    transition: transform 0.4s ease-out;
}

.text-gradient-lines::before {

    top: -0.25em;
    transform-origin: left;
}

.text-gradient-lines::after {
    bottom: -0.25em;
    transform-origin: right;
}

.text-gradient-lines:hover::before,
.text-gradient-lines:hover::after {
    transform: scaleX(1);
}

.explorer-chord-horizontal-line {
    @apply absolute h-0 border-t-2 border-t-black bottom-[-270px] pointer-events-none border-dashed divide-dashed;
}

.explorer-chord-marker {
    @apply bottom-[-280px] absolute pointer-events-none font-accent text-sm
}

.explorer-chord-label {
    @apply bottom-[-260px] font-display text-lg absolute pointer-events-none left-1
}

.explorer-lyrics-marker {
    @apply bottom-[-340px] font-accent text-sm absolute pointer-events-none
}

.explorer-lyrics-label {
    @apply bottom-[-320px] font-display text-lg absolute pointer-events-none left-1
}