@import "./theme.css";
@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropzone-brand-logos {
    @apply max-w-[228px] h-auto opacity-40 mb-8 mt-0;
}

.dropzone-label {
    @apply flex flex-col items-center justify-center w-72 md:w-96 h-48 bg-gray-100 border-2 border-dashed border-gray-400 rounded-lg cursor-pointer transition-colors duration-200;
}

.dropzone-label.dragover {
    @apply bg-gray-200;
}

.dropzone-label:hover {
    @apply bg-gray-200;
}

.dropzone-content {
    @apply flex flex-col items-center justify-center text-center pt-5 pb-6;
}

.dropzone-icon {
    @apply w-16 h-16 mb-4 text-gray-600;
}

.dropzone-text-main {
    @apply mb-2 text-2xl font-display text-center;
}

.dropzone-text-sub {
    @apply text-base font-accent text-gray-500 text-center;
}

.hidden-input {
    @apply hidden;
}

.dropzone-header-sub {
    @apply text-5xl font-accent  text-gray-500
}

.dropzone-links {
    @apply absolute bottom-6 justify-center
}

.dropzone-links-text {
    @apply text-gray-500 hover:underline font-display mx-10 text-lg
}

.dropzone-header-main {
    @apply text-9xl font-display relative;
}

.dropzone-header-main::after,
.dropzone-header-main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff6b6b, #6bffb3);
    left: 0;
    transform: scaleX(0);
    transition: transform 0.6s ease-out;
}

.dropzone-header-main::before {
    top: -5px;
    transform-origin: left;
}

.dropzone-header-main::after {
    bottom: -5px;
    transform-origin: right;
}

.dropzone-header-main:hover::after,
.dropzone-header-main:hover::before {
    transform: scaleX(1);
}

.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 14rem;
    overflow: hidden;
}

.wave-svg {
    width: 100%;
    height: 100%;
    display: block;
}


.waveform-container {
    @apply flex-1 flex justify-center items-center relative
}

.waveform-time {
    @apply text-xl font-accent text-white;
    position: absolute;
    z-index: 11;
    top: 48.5%;
    left: 97.5%;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
}

.explorer-sidebar-container {
    @apply w-80 h-screen shadow-md flex flex-col justify-between;
}

.translate-x-0 {
    transform: translateX(0) !important;
}

.-translate-x-full {
    transform: translateX(-100%) !important;
}

.explorer-sidebar-header {
    @apply text-3xl font-display
}

.explorer-sidebar-labels {
    @apply flex font-accent items-center gap-4 hover:text-blue-gray-300 text-xl
}

.explorer-sidebar-icon {
    @apply w-5 h-5 size-6 mx-3
}

.alert-danger {
    border-left: 5px solid #b30000;
    background-color: #ffe6e6;
    color: #660000;
}