@theme {
  /* FONT FAMILY */
  --font-body:
    -apple-system,
    "Segoe UI", Roboto, Arial, sans-serif;

  --font-display:
    var(--font-clash-display, "Clash Display"),
    -apple-system, "Segoe UI", Roboto, Arial, sans-serif;

  --font-accent:
    var(--font-tasa, "TASA Orbiter Display"), serif;

  --font-mono:
    ui‑monospace, "Roboto Mono", SFMono‑Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

}
